{% extends 'perguntas/base.html' %}
{% block title %}Página Inicial{% endblock %}
{% block content %}
    <h1>Bem-vindo ao Enquetes para Programadores!</h1>
    <p>Hoje é: {{ now|date:"d/m/Y H:i" }}</p>
    <p>Use os links abaixo para navegar nas funcionalidades:</p>
    <ul class="list-unstyled">
        <li><a href="{% url 'gerenciar_enquetes' %}" class="btn btn-primary btn-lg btn-block mb-2">Ver e Responder Enquetes</a></li>
        <li><a href="{% url 'gerenciar_usuarios' %}" class="btn btn-info btn-lg btn-block mb-2">Gerenciar Usuários</a></li>
        <li><a href="{% url 'admin_criar_enquete' %}" class="btn btn-success btn-lg btn-block mb-2">Criar Nova Enquete (Admin)</a></li>
        <li><a href="{% url 'listar_areas_interesse' %}" class="btn btn-secondary btn-lg btn-block mb-2">Listar Áreas de Interesse</a></li>
    </ul>   
{% endblock %}